@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body{
    height: 100vh;
    background: rgb(31, 194, 194);
    background-image: url(./background.jpg);
}
.container{
    width: 40%;
    top: 50%;
    left: 50%;
    /* background:white; */
    position: absolute;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    min-width: 450px;
    min-height: 100px;
}
h1{
    margin-top: 20px;
    color: rgb(21, 21, 26);
    text-shadow: sandybrown;
    justify-content: center;
    display: flex;
    
}
#ts1{
    margin-top: 20px;
    color: #910707;;
    justify-content: center;
    display: flex;
    opacity: 0.8;
    
}
#addTask{
    position: relative;
    padding: 30px 20px;

}
#addTask input{
    width: 75%;
    height: 45px;
    padding: 12px;
    color: #833f3f;
    font-weight: 500;
    font-size: 15px;
    position: relative;
    border-radius: 10px;
    border: 2px solid #e0e3e4;

}
#addTask input:focus{
    outline: none;
    border-color: #061a31;
}
#addTask button{
    position: relative;
    float: right;
    font-weight: 500;
    font-size: 15px;
    border: none;
    cursor: pointer;
    width: 20%;
    height: 45px;
    border-radius: 10px;
    background-color: #910707;
    color: #c5e1e6;
    
}

#lists{
    border-radius: 10px;
    width: 100%;
    position: relative;
    background-color: #ffffff;
    padding: 30px 20px;
    margin-top: 10px;
}
 .list{
     border-radius: 10px;
     align-items: center;
     justify-content: space-between;
     border: 1px solid #939697;
     cursor: pointer;
     background-color: #c5e1e6;
     height: 50px;
     margin-bottom: 8px;
     padding: 5px 10px;
     display: flex;
 }
 .list input{
     position: relative;
     height: 50px;
     width: 300px;
     border: none;
     background:none;
     font-size: 15px;
     
 }
 .list input{
     outline: none;
 }

 .list button{
    background-color: #910707;
    color: #ffffff;
    border: none;
    cursor: pointer;
    outline: none;
    height: 100%;
    width: 40px;
    border-radius: 10px;
 }

.listInput{
    width: 180px;
}
.listInput .cizgi{
    text-decoration: line-through;
}